*{
    background: GhostWhite;
}

#navbarList{
    margin: 0px;
    padding: 5px;
    background: darkgreen;
    padding-inline-start: 5px
}

#navbarList li{
    color: azure;
    background: darkgreen;
    display: inline;
    padding: 0px 10px;
    margin: 0px;
}